
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-12">
        <div class="box" id="secc_lista">
            <div class="box-header with-border">
                <h1 class="box-title 0">Lista de Dispositivos 
                    <button class="btn btn-success" onclick="Agregar()"><i class="fa fa-plus-circle"></i> Agregar</button>
                </h1>
                @*<div class="box-tools pull-right">
                    
                </div>*@
            </div>
            <!-- /.box-header -->
            <!-- centro -->
            <div class="panel-body table-responsive">
                <div class="card-box">
                    <table id="Lista_Dispositivos" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                        <thead>
                            <tr>                                
                                <th>Opciones</th>
                                <th>No.</th>
                                <th>Dispositivo</th>
                                <th>No. Serie</th>
                                <th>IP</th>
                                <th>Puerto</th>
                                <th>Sucursal</th>                                
                                <th>Foto</th>  
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!--Fin centro -->
        </div><!-- /.box -->
        <div class="box" id="secc_add" style="display:none;">
            <div class="box-header with-border">
                <h1 class="box-title 0">Dispositivos </h1>
                <div class="box-tools pull-right">
                </div>
            </div>
            <!-- /.box-header -->
            <!-- centro -->
            <div class="panel-body">
                <div class="card-box">
                    <form>
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="col-lg-6">
                                    <input type="text" id="id" value="" hidden />
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="">Dispositivo *</label>
                                        <div>
                                            <input type="text" id="txt_Dispositivo" class="form-control">
                                        </div>
                                    </div>
                                    @*<div class="form-group col-md-12">
                                        <label class="control-label" for="">Empresa *</label>
                                        <div>
                                            <select class="form-control selectpicker" id="ddl_Empresa" required data-live-search="true">                                               
                                            </select>
                                        </div>
                                    </div>*@
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="">Sucursal *</label>
                                        <div>
                                            <select class="form-control selectpicker" id="ddl_Sucursal" required data-live-search="true">                                               
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="">No. de serie *</label>
                                        <div>
                                            <input type="text" id="txt_Serie" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">                                  
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="">IP *</label>
                                        <div>
                                            <input type="text" id="txt_Ip" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="">Puerto *</label>
                                        <div>
                                            <input type="text" id="txt_Puerto" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Foto del dispositivo </label>
                                        <input type="file" id="subirImagen" onchange="convertirImagen()" value="" />
                                        <p id="imgBase64" style="display: none;"></p>
                                        <img src="" alt="" id="imagen" width="30%;" height="30%;" /><br />
                                        <img src="" alt="" id="imagenOriginal" width="30%;" height="30%;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left">
                            <div class="modal-footer">                                
                                <button type="button" class="btn btn-primary waves-effect waves-light validate" data-dismiss="modal" onclick="Guardar()">Guardar</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="Cancelar()">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--Fin centro -->
        </div>
        <!-- Modal Eliminar -->
        <div class="modal fade" id="Form_DeleteTipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="mensaje_modal">Eliminar Dispositivo</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        <form role="form" data-toggle="validator">
                            <h4 id="lbl_msjborrar"></h4>
                            <span id="txt_idborrar" style="display:none;"></span>
                        </form>
                    </div>
                    @*<div class="pull-left">*@
                        <div class="modal-footer">                            
                            <button class="btn btn-primary" onclick="Eliminar(); return false;"><i class="fa fa-check" aria-hidden="true"></i> SÍ</button>                            
                            <button class="btn btn-danger" onclick="Cancelar()" ; return false;" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> NO</button>
                        </div>
                    @*</div>*@
                </div>
            </div>
        </div>



    </div><!-- /.col -->
</div><!-- /.row -->
<script>

    $(document).ready(function () {
        $('#Lista_Dispositivos').DataTable();
        Cargar_Dispositivos();
        
    });

    function Agregar() {
        $("#secc_lista").hide();
        $("#secc_add").show();
        Limpiar();
        //Cargar_Empresas();
        Cargar_Sucursales();
    }
    function Cancelar() {
        $("#secc_lista").show();
        $("#secc_add").hide();
    }
    function Limpiar() {
        $("#id").val("");
        $("#txt_Dispositivo").val(""),
        $("#txt_Ip").val(""),
        $("#txt_Puerto").val(""),
        $("#txt_Serie").val(""),
        $("#ddl_Sucursal").html("")
        $("#imgBase64").text("");
        $("#subirImagen").val("");
        $("#imagen").attr('src', '');
        $("#imagenOriginal").attr('src', '');
    }

    function Cargar_Dispositivos() {
        $('#Lista_Dispositivos').DataTable({
            destroy: true,
            searching: true,
            "ajax": {
                "url": "/Dispositivos/GetDspositivos/",
                "type": "GET"
            },
            "columns": [                
                { "defaultContent": "<i>..</i>" },
                { "data": "id_dispositivo" },
                { "data": "nombre_dispositivo" },
                { "data": "numero_serie" },
                { "data": "ip_dispositivo" },
                { "data": "puerto" },
                { "data": "desc_sucursal" },
                { "defaultContent": "" },
            ],
            "columnDefs": [
                {
                    "targets": 0, "data": "id_dispositivo", "render": function (data, type, full, meta) {
                        return "<button type='button' title='Editar' id='btn_mas" + data + "' class='btn btn-warning' onclick='Editar(" + data + ")'  ><i class='fa fa-edit'></i></button> <button type='button' title='Eliminar' id='btn_borrar" + data + "' class='btn btn-danger' onclick='Confirma_Eliminar(" + data + ")'><i class='fa fa-trash'></i></button> "
                    }
                },
                {
                    "targets": 7, "data": "imagen", "render": function (data, type, full, meta) {
                        if (data != null) {
                            var url = "data:image/png;base64," + data;
                            return "<img src=" + url + " width='60px;' height='50px;' />"
                        } else {
                            return "<p></p>"
                        }

                    }
                }
            ]
        });
    }
    //function Cargar_Empresas() {

    //    $("#ddl_Empresa").html("");

    //    $.ajax({
    //        url: "/Empresa/GetEmpresas/",
    //        async: true,
    //        dataType: "json",
    //        type: "POST",
    //        contentType: "application/json; charset=utf-8",
    //        success: function (data) {
    //            $.each(data.data, function (i, Item) {
    //                $("#ddl_Empresa").append("<option value='" + Item.id_empresa + "'>" + Item.razon_social + "</option>");
    //            });
    //            $('#ddl_Empresa').selectpicker('refresh');
    //        },
    //        error: function (request, status, error) {
    //            console.log("error" + error);
    //        }
    //    });
    //}    
    function Cargar_Sucursales() {
        $("#ddl_Sucursal").html("");
        $.ajax({
            url: "/Sucursal/GetSucursales/",
            async: true,
            beforeSend: function () { },
            dataType: "json",
            data: '{ }',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data);
                $.each(data.data, function (i, Item) {
                    $("#ddl_Sucursal").append("<option value='" + Item.id_sucursal + "'>" + Item.desc_sucursal + "</option>")
                });
                $('#ddl_Sucursal').selectpicker('refresh');
            },
            error: function (request, status, error) {
                console.log("Error => " + error);
            }
        })
    }
    function Editar(Id_Dispositivo) {
        $("#FormEditar").show();
        $.ajax({
            url: "/Dispositivos/GetDispositivo/",
            async: true,
            dataType: "json",
            data: '{ id:' + Id_Dispositivo + '}',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                Limpiar();
                $("#secc_lista").hide();
                $("#secc_add").show();
                console.log(data);
                $("#id").val(Id_Dispositivo);
                $("#txt_Dispositivo").val(data.data.nombre_dispositivo);
                $("#txt_Ip").val(data.data.ip_dispositivo);
                $("#txt_Puerto").val(data.data.puerto);
                $("#txt_Serie").val(data.data.numero_serie);
                Cargar_Sucursales();
                $("#ddl_Sucursal option[value='" + data.data.id_sucursal + "']").prop('selected', true);
                $("#ddl_Sucursal").selectpicker('refresh');
                //Cargar_Empresas();
                //$("#ddl_Empresa option[value='" + data.data.id_empresa + "']").prop('selected', true);                
                $("#txt_Serie").val(data.data.numero_serie);
                debugger;
                $("#imgBase64").text(data.data.imagen)
                if (data.data.imagen != "") {
                    $('#imagen').css({ 'width': '0%', 'height': '0%' });                    
                    $('#imagenOriginal').attr('src', 'data:image/png;base64,' + data.data.imagen);                    
                }
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }
    function Guardar() {
        Dispositivo = {
            "id_dispositivo": $("#id").val() == "" ? 0 : $("#id").val(),
            "nombre_dispositivo": $("#txt_Dispositivo").val(),
            "ip_dispositivo": $("#txt_Ip").val(),
            "puerto": $("#txt_Puerto").val(),
            "numero_serie": $("#txt_Serie").val(),
            "id_sucursal": $("#ddl_Sucursal").val(),
            "imagen": $("#imgBase64").text(),
        };
        console.log(Dispositivo),
        $.ajax(
        {
            url: "/Dispositivos/Guardar/",
            async: true,
            dataType: "json",
            data: JSON.stringify(Dispositivo),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                swal({ title: "Dispositivos", text: "Guardada Correctamente", type: "success" }, function () { Cargar_Dispositivos(); Cancelar(); });
            },
            error: function (request, status, error) {
                swal("Error al Guardar la Dispositivo");
                console.log("error" + error);
            }
        });
    }


    function Confirma_Eliminar(Id_Dispositivo) {
        $('#Form_DeleteTipo').modal('show');
        $("#lbl_msjborrar").html("Se va a eliminar la Dispositivo No. " + Id_Dispositivo + ". <br/>¿Desea Continuar?");
        $("#txt_idborrar").text(Id_Dispositivo);
    }
    function Eliminar() {
        Id_Dispositivo = $("#txt_idborrar").text();
        $.ajax({
            url: "/Dispositivos/Eliminar/",
            async: true,
            dataType: "json",
            data: '{id:' + Id_Dispositivo + '}',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#Form_DeleteTipo').modal('hide');
                swal({ title: "Dispositivos", text: "Se elimino Correctamente", type: "success" }, function () { Cargar_Dispositivos(); });
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    //Convertir imagen a base64
    function convertirImagen() {
        var archivoImagen = document.getElementById("subirImagen").files;
        if (archivoImagen.length > 0) {
            var archivoCargar = archivoImagen[0];
            var archivoLeer = new FileReader();

            archivoLeer.onload = function (eventoCargarArchivo) {
                var srcData = eventoCargarArchivo.target.result; //Imagen base64
                //alert(srcData);
                var Logo = srcData.split(',')[1];
                //alert(Logo)
                document.getElementById("imagen").src = srcData;
                document.getElementById("imgBase64").textContent = Logo;

            }
            archivoLeer.readAsDataURL(archivoCargar);
        }
    }
</script>


