
@{
    ViewBag.Title = "Registro";
}

<div class="row">
    <div class="col-md-12">
        <div class="box" id="secc_lista">
            <div class="box-header with-border">
                <h1 class="box-title 0">Lista de Asistencia de Empleados de Oficina</h1>
 
            </div>
            <!-- /.box-header -->
            <!-- centro -->
            <div class="panel-body table-responsive">
                <div class="card-box">
                    <table id="Lista_Asistencias" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                        <thead>
                            <tr>
                                <th>&nbsp; &nbsp; &nbsp;Empleado</th>
                                <th>&nbsp; &nbsp; &nbsp;Hora de Entrada</th>
                                <th>&nbsp; &nbsp; &nbsp;Hora de Salida</th>
                                <th>&nbsp; &nbsp; &nbsp;Departamento</th>                                
                                <th>&nbsp; &nbsp; &nbsp;Sucursal</th>                                
                                <th>&nbsp; &nbsp; &nbsp;Dispositivo</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!--Fin centro -->
        </div><!-- /.box -->        
    </div><!-- /.col -->
</div><!-- /.row -->
<script>
    $(document).ready(function () {

        $('#Lista_Asistencias').DataTable();

        Cargar_Asistencias();

    });

    function Cargar_Asistencias() {
        $('#Lista_Asistencias').DataTable({
            destroy: true,
            searching: true,
            dom: "Bfrtip",
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Lista de Asistencia',
                    customize: function (xlsx) {
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];

                        $('row c[r^="C"]', sheet).attr('s', '2');
                    }
                },
            {
                extend: 'pdfHtml5',
                title: 'Lista de Asistencia'
            }
            ],
            "ajax": {
                "url": "/Asistencia/ObtenerPorEmpleado/",
                "type": "GET"
            },
            "columns": [
                { "data": "nombre_completo" },
                { "data": "hora_ini" },
                { "data": "hora_fin" },
                { "data": "desc_departamento" },
                { "data": "desc_sucursal" },
                { "data": "nombre_dispositivo" }
            ]
        });
    }
</script>